body {
  background-color: palevioletred;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.child {
  background-color: #fefbf1;
  height: 500px;
  width: 400px;
  border-radius: 5px;
  position: relative;
}
.child1 {
  display: flex;
  justify-content: center;
}
.child1 img {
  height: 300px;
  width: 80%;
}
.btn1 {
  background-color: crimson;
  padding: 10px 20px;
  margin-left: 85px;
  margin-top: 50px;
  border-radius: 5px;
  color: #fefbf1;
}
.btn2 {
  background-color: crimson;
  padding: 10px 20px;
  margin-left: 85px;
  margin-top: 50px;
  overflow: hidden;
  position: absolute;
  border-radius: 5px;
  color: #fefbf1;
}
h1 {
  text-align: center;
  color: palevioletred;
}
